
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style type="text/css">
    #welcome{
        margin-bottom: 20px;
    }
</style>
    
<div id="welcome" class="alert alert-success">
    <h2 id="welcome"> Welcome @Session["UserName"].ToString() </h2>
</div>
 