<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Web, Mobil, Cloud ve IoT teknoloji hakkında blog yazıları">
    <meta name="author" content="Bengisu Gültekin">
    <title>Bengisu Gültekin</title>

    <link href="~/Content/CSS/Blog/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/Blog/clean-blog.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/Blog/font-awesome.min.css" rel="stylesheet" />
    
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/Home">Bengisu Gültekin</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Home">Home</a>
                    </li>
                    <li>
                        <a href="/Search">Search</a>
                    </li> 
                    <li>
                        <a href="/AboutMe">About</a>
                    </li>                    
                    <li>
                        <a href="/ContactMe">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
 
    
    @RenderBody()


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://www.instagram.com/bengisugultekin/" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/bengisu.gultekin" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/bengisugultekin" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/bengisugultekin/" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>

                    <p style= "text-align: center; font-size:12pt">
                        <a style="text-decoration:none" 
                           href="/Dashboard">
                            Login
                            </a>
                    </p>
                    <p class="copyright text-muted">Copyright &copy; Bengisu Gültekin @DateTime.Now.Year</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Scripts/Blog/jquery.min.js"></script>
    <script src="~/Scripts/Blog/bootstrap.min.js"></script>
    <script src="~/Scripts/Blog/jqBootstrapValidation.js"></script>
    <script src="~/Scripts/Blog/contact_me.js"></script> 
    <script src="~/Scripts/Blog/clean-blog.min.js"></script>
</body>
</html>
