@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Blog_MVC.Entity.Models.ViewModel.ViewPost>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/CSS/Site.css" rel="stylesheet" />

<header class="intro-header" style="background-image: url('/Images/home-bg-1.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Bengisu Gültekin</h1>
                    <hr class="small">
                    <span class="subheading">Everything that suits me</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            @{
                foreach (var item in Model)
                {
                    <div class="post-preview">
                        <a href="/Home/PostDetail/@item.PostID">
                            <h2 class="post-title">
                               @item.Title
                            </h2>                           
                        </a>
                        <p class="post-meta">Posted by <a href="/AboutMe">@item.NameSurname</a> @item.PostDate.ToLongDateString()</p> 
                    </div>
                    <hr>
                }
            }
            
            
           
            <!-- Pager -->

            <ul class="pager">
                <li class="next">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page}))

                    @*<a href="#">Older Posts &rarr;</a>*@
                </li>
            </ul>           

        </div>
    </div>
</div>
<hr>


